@using Artisan.III.Shared.Models.Catan.Buildings
@using Artisan.III.Shared.Models.Catan

<div class="component-base" style="@Model.Color.ToCssFilter()">
    <img src="@GetSrc()" alt="@Model.Kind @Model.Color"/>
</div>

@code {
    [Parameter, EditorRequired]
    public SettlementModel Model { get; set; } = null!;
    
    private string GetSrc() => $"images/Catan/Settlements/{Model.Kind}.svg";
}