@using Artisan.III.Client.Components.Common

@foreach (var hex in Model.Hexes)
{
    <div style="@GetPositionStyle(hex.Coordinates); position: absolute">
        <CatanHexComponent Model="@hex"/>
    </div>
}
@foreach (var settlement in Model.Settlements)
{
    <div style="@GetPositionStyle(settlement.Coordinates); position: absolute">
        <CatanSettlementComponent Model="@settlement"/>
    </div>
}